set terminal pdf
set output "{{ output }}.pdf"
set key box top left
set xtic nomirror
set ytic nomirror
set border 3
set style line 1 lw 3 lc rgb "#FF1A00"
set style line 2 lw 3 lc rgb "#5e9c36"
set style line 3 lw 3 lc rgb "#0080FF"
set style line 4 lw 3 lc rgb "#FFD700"
set style line 5 lw 3 lc rgb "#FF8000"
set grid
{% block data %}
{% endblock %}
