{% extends "common.p.j2" %}
{% block data %}
set xlabel "Planning Time (s)"
set ylabel "Completion Quotient"
set key above
set logscale x
set xrange [1:1800]
plot \
  "{{ ff_data_file }}" title "FF" with lines ls 1, \
  "{{ fd_data_file }}" title "FastDownward" with lines ls 5, \
  "{{ marvin_data_file }}" title "Marvin" with lines ls 3, \
  "{{ macroff_data_file }}" title "MacroFF" with lines ls 4, \
  "{{ dbmp_data_file }}" title "DBMP ({{ evaluator }})" with lines ls 2
{% endblock %}
