% vim: tw=0:colorcolumn=0
\documentclass{standalone}
\usepackage[table]{xcolor}
\usepackage{tabularx}

\newcommand*{\ff}{FF}
\newcommand*{\marvin}{Marvin}
\newcommand*{\mpc}{MPC}
\newcommand*{\dbmp}{DBMP}
\newcommand*{\dbmpff}{DBMP/FF}
\newcommand*{\dbmpCFFPff}{\shortstack{DBMP/FF\\$w_f=0.8,w_l=0$}}
\newcommand*{\dbmpCFPff}{\shortstack{DBMP/FF\\$w_f=0.5,w_l=0$}}
\newcommand*{\dbmpCLFFPff}{\shortstack{DBMP/FF\\$w_f=0.8,w_l=0.5$}}
\newcommand*{\dbmpCLFPff}{\shortstack{DBMP/FF\\$w_f=0.5,w_l=0.5$}}
\newcommand*{\dbmpCFFPfdsat}{\shortstack{DBMP/FD\\$w_f=0.8,w_l=0$}}
\newcommand*{\dbmpCFPfdsat}{\shortstack{DBMP/FD\\$w_f=0.5,w_l=0$}}
\newcommand*{\dbmpCFPmpc}{\shortstack{DBMP/MPC\\$w_f=0.5,w_l=0$}}
\newcommand*{\dbmpCFFPmpc}{\shortstack{DBMP/MPC\\$w_f=0.8,w_l=0$}}
\newcommand*{\fastdownward}{FD}
\newcommand*{\fdsat}{FD}
\newcommand*{\macroffsolep}{MacroFF}
\newcommand*{\ptt}{MUM}
\newcommand*{\blocksworld}{Blocksworld}
\newcommand*{\hiking}{Hiking}
\newcommand*{\barman}{Barman}
\newcommand*{\rcllproduction}{Logistics Robots}
\newcommand*{\cleanupwithkif}{Cleanup}
\newcommand*{\cavedivingadlnocosts}{Cave Diving}


\begin{document}

\centering
\begin{tabular}{ r \BLOCK{for planner in planners }| r \BLOCK{endfor}}
\BLOCK{for planner in planners}& \\VAR{planner|replace("-", "")|replace("_", "")} \BLOCK{endfor } \\
%% for domain in domains
\hline
\multicolumn{\VAR{planners|length + 1}}{c}{\cellcolor{black!5!white}{\raisebox{.1\height}[1.4\height]{\textbf{\\VAR{domain|replace("-","")|replace("_","")}}}}} \\
\# solved \BLOCK{for planner in planners} & \VAR{results[domain][planner]["solved"]|default(0)} \BLOCK{endfor} \\
mean (s) \BLOCK{ for planner in planners -}
  \BLOCK{ set result = results[domain][planner] } & \BLOCK{ if result["mean_time"] < 1800 -} \VAR{ ("%0.2f" % result["mean_time"])|replace('nan', '-')-} \BLOCK{ else }-\BLOCK{ endif }
\BLOCK{- endfor } \\
\BLOCK{for qn in [0, 1, 2] -}
Q\VAR{qn+1} (s)
\BLOCK{- for planner in planners } & \BLOCK{if results[domain][planner]["quantiles_time"][qn] < 1800 }\VAR{ "%0.2f" % results[domain][planner]["quantiles_time"][qn]} \BLOCK{else}-\BLOCK{endif}\BLOCK{endfor} \\
\BLOCK{endfor -}
%% endfor
\end{tabular}

\end{document}
