{% extends "common.p.j2" %}
{% block data %}
set xlabel "{{ other_planner }} Planning Time"
set ylabel "Planning Time"
set title "Comparison between DBMP {{ evaluator }} and {{ other_planner }}: {{ domain }}"
set key top left
set logscale
plot \
  "{{ other_data_file }}" title "{{ other_planner }}" ls 1, \
  "{{ best_data_file }}" title "DBMP ({{ evaluator }})" ls 2
{% endblock %}
