{% extends "common.p.j2" %}
{% block data %}
set xlabel '{{ xlabel }}'
set ylabel 'Score'
set style boxplot
set style data boxplot
set style boxplot nooutliers
plot '{{ datafile }}' using (1):4:(0):{{ column }} title "Mean score {{ domain }} ({{ planner }})"
{% endblock %}
