export KUBECTL_PARAMS="--server=https://{{hostvars[groups['kubeadm'][0]]['ansible_fqdn'] }}:6443 --certificate-authority=/etc/kubernetes/ca.crt --client-certificate=/etc/kubernetes/client.crt --client-key=/etc/kubernetes/client.key"
export KUBE_MASTER="{{ hostvars[groups['kubeadm'][0]]['ansible_fqdn'] }}"
