# comma-separated list of master nodes
KUBE_MASTER="--master=
{%- for host in groups['kubeadm'] -%}
  {%- if ansible_hostname == hostvars[host]['ansible_hostname'] -%}
    http://localhost:8080
  {%- else -%}
    https://{{ hostvars[host]['ansible_hostname'] }}:6443
  {%- endif %}
  {%- if not loop.last %}
    ,
  {%- endif %}
{%- endfor %}"
# logging to journald
KUBE_LOGTOSTDERR="--logtostderr=true"
# log level 0 enables debugging
#KUBE_LOG_LEVEL="--v=0"
# Do not allow to run privileged containers
KUBE_ALLOW_PRIV="--allow-privileged=false"
