current-context: lab-context
apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/apiserver.crt
    server: https://{{ hostvars[groups['kubeadm'][0]]['ansible_hostname'] }}:6443
  name: lab-cluster
contexts:
- context:
    cluster: lab-cluster
    user: kube
  name: lab-context
users:
- name: kube
  user:
    client-certificate: /etc/kubernetes/ssl/{{ ansible_hostname }}-client.crt
    client-key: /etc/kubernetes/ssl/{{ ansible_hostname }}-client.key
