current-context: lab-context
apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/apiserver.crt
    server: https://{{ hostvars[groups['kubeadm'][0]]['ansible_hostname'] }}:6443
  name: lab-cluster
contexts:
- context:
    cluster: lab-cluster
  name: lab-context
